.login-prompt {
    display: flex;
    justify-content: center;
    transform: translateY(110px);
}

.login-button {
    display: flex;
    justify-content: center;
    transform: translateY(150px);
    width: 100%;
}
#welcome-message {
    display: flex;
    justify-content: center;
    transform: translateY(50px);
}