.google-login-container {
   display:flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
#login-advisory {
    display: flex;
    justify-content: center;
    transform: translateY(120px);
}